html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
.esri-ui-top-right > .esri-component {
  max-height: unset !important;
  height: 100%;
}

.esri-ui .esri-editor__scroller {
  max-height: none;
}

#formDiv {
  height: auto; 
  width: 300px;
}